/venv/
/Main/Dataset/
/Main/enhanced_SVO_extraction/
/Main/Output/EN test/Meals and their recipes to follow in cooking.lnk
/Main/Output/extraction_results.txt
/Main/Output/OutputFile1.txt
/Main/Output/OutputFile2.txt
/Main/Output/OutputFile3.txt
/Main/Output/OutputFile4.txt
/Main/Output/Res_EN.txt
/Main/Output/Res_EN_2.json
/Main/Output/Res_EN_2.txt
/Main/Output/Time data.txt
/Main/executer.py
/Main/long_res.json
/Main/paste.py
/Main/recipe_categories.py
/Main/testing.py

